pandas
numpy
scikit-learn
MiniSom
flask
flask-restful
gunicorn
pandas
numpy
scikit-learn
feature-engine
minisom
shap
evidently
flask-sqlalchemy
sqlalchemy
alembic
psycopg2-binary
flask-jwt-extended
passlib
cryptography
loguru
requests